<h1 class="text-center mb-3"><%= @chatroom.name %></h1>
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.nickname %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>


<%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
<% end %>

<%= form_for [@parking_lot, @booking] do |f|  %>
          <%= f.hidden_field :start_time, value: params[:start_time] %>
          <%= f.hidden_field :planned_end_time,  value: params[:planned_end_time] %>
          <%= f.submit 'Book', class: 'btn-book' %>
          <%= f.collection_select :vehicle, current_user.vehicles, :id, :license_plate %>
        <% end %>

<p> <%= link_to "Parking Lot",  parking_lot_path(@parking_lot) %> </p>