
<div class="bg-white">
  <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="home-card-description card-black">
    <h2>EasyPark</h2>
    <h4>Fast & Convenient</h4>
  </div>
  <div class="search-form">
    <%= form_tag parking_lots_path, method: :get do %>
    <%= text_field_tag :query, 
      params[:query],
      class: "form-control",
      label_tag: "Location",
      placeholder: "Location"
    %>
    <div class="d-flex">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      label_tag: "Day Start",
      placeholder: "11/27/2020"
    %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      label_tag: "Day End",
      placeholder: "11/27/2020"
    %>
    </div>
    <div class="d-flex">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      label_tag: "Start time",
      placeholder: "12:00"
    %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      label_tag: "Ende time",
      placeholder: "13:00"
    %>
    </div>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      label_tag: "Your vehicle type",
      placeholder: "Car"
    %>
    <%= submit_tag "Search", class: "btn btn-warning form-control yellow" %>
    <% end %>
  </div>
</div>
  

