
<div class="bg-white">
  <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="home-card-description card-black">
    <h2>EasyPark</h2>
    <h4>Fast & Convenient</h4>
  </div>
  <div class="search-form">
    <%= form_tag parking_lots_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      label_tag: "Location",
      placeholder: "Location"
    %>
    <div class="d-flex">
    <%= text_field_tag :start_date,
      params[:start_date],
      class: "datepicker bg-white",
      label_tag: "From",
      placeholder: "From"
    %>
    <%= text_field_tag :planned_end_date,
      params[:planned_end_date],
      class: "datepicker bg-white",
      label_tag: "To",
      placeholder: "To"
    %>
    </div>
    <div class="d-flex">
    <%= text_field_tag :start_time,
      params[:start_time],
      class: "form-control",
      label_tag: "Start time",
      placeholder: "12:00"
    %>
    <%= text_field_tag :end_time,
      params[:end_time],
      class: "form-control",
      label_tag: "End time",
      placeholder: "13:00"

    %>
    </div>
    <%= text_field_tag :vehicle_type,
      params[:vehicle_type],
      class: "form-control",
      label_tag: "Your vehicle type",
      placeholder: "Car"
    %>
    <%= submit_tag "Search", class: "btn btn-warning form-control yellow margin-search" %>
    <% end %>
  </div>
</div>
