<div class="mt-1">
  <%= form_tag parking_lots_path, method: :get do %>
   <div class="searchbar mb-2">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find your parking lot"
      %>
      <%= submit_tag "Search", class: "btn ml-1"%>
    </div>
   <% end %>
</div>

<div id="map"
     style="width: 100%; height: 500px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div class="container">
  <% @parking_lots.each do |parking_lot| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="imgBx">
          <% if parking_lot.photo.attached? %>
            <img><%= cl_image_tag parking_lot.photo.key %>
          <% else %>
            <img><%= image_tag "https://images.unsplash.com/photo-1498544921269-5a3045edb62e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80", class: "card-img-top", alt:"image" %>
          <% end %>
        </div>
        <div class="content">
          <p><%= parking_lot.address %></p>
          <p>We are located near downtown and open 24 hour from monday-saturday.</p>
        </div>
        <div class="title">
          <h5><%= link_to parking_lot.name[0...17], parking_lot_path(parking_lot) %></h5>
          <p class="card-parking-lot-pricing"><%= humanized_money_with_symbol(parking_lot.price) %> /Hr</p>
        </div>
    </div>
  </div>
  <% end %>
</div>
  <%# <%=  link_to "Edit", edit_parking_lot_path(@parking_lots), class: "btn btn-outline-success border-ra" %>
