
<div id="map"
     style="width: 100%; height:320px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
    <%# <div class="carousel-inner"> %>
      <% @parking_lots.each.with_index do |parking_lot, index| %>
        <div class="carousel-item <%='active bgwhite' if index == 0 %>">
          <div class="card">
              <% if parking_lot.photo.attached? %>
                <div class="imgBx" style="background-image: url('<%= cl_image_path parking_lot.photo.key, height: 300, width: 400, crop: :fill %>')">
              <% else %>
                <div class="imgBx" style="background-image: url('https://images.unsplash.com/photo-1498544921269-5a3045edb62e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80')"> 
              <% end %>
            </div>
            <div class="content">
              <p class="address"><%= parking_lot.address %></p>
              <p>We are located near downtown and open 24 hour from monday-saturday.</p>
            </div>
            <div class="title">
              <h5><%= link_to parking_lot.name[0...17], parking_lot_path(parking_lot, start_time: params[:start_time], planned_end_time: params[:planned_end_time]) %></h5>
              <p class="card-parking-lot-pricing"><%= humanized_money_with_symbol(parking_lot.price) %> /Hr</p>
            </div>
          </div>
        </div>
      <% end %>
    </div> 

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
  <%# <%=  link_to "Edit", edit_parking_lot_path(@parking_lots), class: "btn btn-outline-success border-ra" %>
