<div id="map"
     style="width: 100%; height: 350px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="parking-lot-card">
  <% if @parking_lot.photo.attached? %>
    <%= cl_image_tag @parking_lot.photo.key, class: 'card-img' %>
  <% else %>
    <%= image_tag "https://source.unsplash.com/500x200/", alt:"image", class: 'card-img' %>
  <% end %>
  <div class="star-rating">
    <% if @parking_lot.rating_average > 0.0 %>
      <p><i class="fas fa-star staricon"></i><%= @parking_lot.rating_average %></p>
    <% else %>
      <p>No ratings</p>
    <% end %>
  </div>
  <div class="show-card-description">
      <div class="card-name"><%= @parking_lot.name %></div>
      <div class="card-address"><%= @parking_lot.address %></div>
      <div class="card-price"><%= humanized_money_with_symbol(@parking_lot.price) %>/Hr</div>
  </div>
</div>
<div class="card-booking">
  <% if current_user != @parking_lot.user%>
    <div class="col-12 col-md-6 col-lg-10 p-3">
      <%= form_for [@parking_lot, @booking] do |f|  %>
        <%= f.hidden_field :start_time, value: params[:start_time] %>
        <%= f.hidden_field :planned_end_time,  value: params[:planned_end_time] %>
        <p>Choose your vehicle   <%= f.collection_select :vehicle, current_user.vehicles, :id, :license_plate %></p>
        <p><%= link_to "Reviews",  parking_lot_reviews_path(@parking_lot), class: 'review-show' %></p>
        <%= f.submit 'Book', class: 'btn-book' %>
        <%= link_to "Contact", chatroom_path(@chatroom, parking_lot_id: @parking_lot.id, start_time: params[:start_time], planned_end_time: params[:planned_end_time]), class: 'btn-contact' %>
      <% end %>
  </div>
  <% end %>
</div>
<p><%= link_to "Back to list", parking_lots_path %></p>

