<div class="container-review">
  <div class="reviewPl">
    <h2>Reviews</h2>
    <h4><%= @parking_lot.name %><h4>
    <p><%= @parking_lot.address %></p>
    <p><i class="fas fa-star"></i> <%= @parking_lot.rating_average %> out of 5</p>
  </div>
    
  <div class="card cardRv">
    <div class="card-body">
      <% @reviews.each do |review| %>
        <h5 class="card-title"><%= review.user.name %></h5>
        <% review.rating_star.times do %>
        <i class="fas fa-star"></i>
        <% end %>
        <p class="card-text"><%= review.content %></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <% end %>
    </div>
  </div>
</div>