<!DOCTYPE html>
<html>
  <head>
    <title>EasyPark - The most convenient way of parking!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="With Easypark you will no longer waste time searching for a parking spot! Just look up your destination and conveniently book a parking spot in advance. It saves you time and money!">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <div class="flex-grow-1">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
